.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: rgb(238, 102, 102);
    color: steelblue;
}
img {
    width: 30%
}
  body {
    background-color: rgb(148, 20, 58);
  }
 .person{border-radius: 50%;}
 image {

  border-radius: 50%
  
  height: 50px;
  
  width: 50px;
  
  }